@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background-color: rgba(255, 255, 255, 0.354);
}

nav {
  width: 100%;
  height: max-content;
  padding: 12px;
  background-color: white;
  box-shadow: 0px -3px 3px 1px black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

  gap: 20px;
  padding: 10px;
}

nav ul li a {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.input input {
  width: 35rem;
  height: 33px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: rgba(188, 235, 241, 0.747);
}

.appliances,
.top-delas-items {
  display: flex;
  height: max-content;
  max-width: 95%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.861);
  box-shadow: 1px 0px 6px -2px black;
  margin-top: 1rem;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.top-deals .heading {
  max-width: 95%;
  margin: 22px auto;
}

.appliances .items img {
  object-fit: cover;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  cursor: pointer;
}
.appliances .items p {
  text-align: center;
}

.image-gallery {
  max-width: 95%;
  margin: 10px auto;
}

.image-gallery img {
  height: 16rem;
  width: 100%;
}

.top-deals .heading {
  font-weight: bold;
}

.top-deals .items img {
  object-fit: cover;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  cursor: pointer;
}

.top-deals .items p {
  text-align: center;
}

.main-card {
  max-width: 95%;
  margin: 22px auto;
}
