@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#header {
  padding: 3% 15% 7%;
  background-color: #dc3545;
}

.navbar {
  padding: 0 0 4.5rem;
}

.download-btn {
  cursor: pointer;
  margin: 5% 3% 5% 0;
}

.header_image {
  height: 500px;
  overflow: hidden;
  transform: rotate(35deg);
}

#features {
  padding: 7% 15%;
  font-family: "Poppins", "sans-serif";
  border-bottom: 1px solid black;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
}

.col-md-4 {
  padding: 5%;
}

.icons-features {
  margin-bottom: 5%;
  color: red;
  font-size: 5em !important;
}

#pricing {
  padding: 10% 10%;
  /* text-align: center; */
}

.pricing-column {
  padding: 3% 2%;
}

#love {
  padding: 100px 15% 40px;
  background-color: #ff4c68;
  text-align: center;
  font-weight: 500;
  color: white;
}

#footer {
  padding: 10% 10%;
}

#footer .icons {
  display: flex;

  gap: 70px;
  justify-content: center;
}

#carousel {
  padding: 5% 10%;
  background-color: #ef8172;
}

.testimonial-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

#carousel img {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
}

#press img {
  height: 70px;
  width: 200px;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}
